.app.flex-row.align-items-center{
    /*TODO: Check this*/
    /*background: url("../assets/img/tesla-truck.jpg") !important;*/
}



.shipper-logo{
    height: 100px !important;
}
img.navbar-brand-full {
    height: 58%;
    width: 83%;
    margin-left: 5%;
}


.profile-card-header{
    text-align: center;
    margin-bottom: 15px;

}

.user-profile-form {
    padding: 0 152px;
}

.offline{
    filter: grayscale(100%);
}

.nav-dropdown-items .nav-item{
    //margin-left: 10px;
    font-size: 0.9em;
}

.reset-expansion-style{
    padding: 0 !important;
    margin-bottom: 20px !important;
}
.trackingCard > div > div {
    position: initial !important;
}
